@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

h1 { font-size: 1.5em; text-align: center; color: black; margin: 20px;  }

p { font-size: 1.2em; text-align: center; margin: 20px;}

img{
    width: 320px;
    height: 320px;
    border-radius: 15px;
    display: flex;
    text-align: center;
    margin: 15px;
    
}

main{
    width: 350px;
    height: 560px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    padding: 5px;
    
}

p{
    padding: 15px;
    text-align: center;
    font-size: 1.1em;
    color: gray;
}

footer{
    width: 330px;
    margin: auto;
    text-align: center;
    background-color: hsl(213, 20%, 76%);
    border-radius: 10px;
    margin-top: 40px;
    
}
