@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body{
    background-color: #D5E1EF;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    margin: 0;
    overflow: hidden;

}


.card-component{
    width: 320px;
    height: 497px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.05);
    
}

.qr-img img{
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin: 16px 16px 0 16px;
}

.text{
    padding: 24px;
}

h1{
    font-size: 22px;
    font-weight: 700;
    color: #1F314F;
    text-align: center;
    line-height: 28px;
    margin: 0;
}

.description{
    color: #7D889E;
    text-align: center;
    line-height: 19px;
    margin: 0;
}

h1 + .description{
    margin-top: 24px;
}
